body {  
    /*因为调整过navbar的高度，这里需要联动。*/  
    padding-top: 20px;  
    /* 追加中文和日文字体 @注1 */  
    font-family: "Microsoft Yahei", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}  
  
input,button,select,textarea {  
    /* 追加中文和日文字体 */  
    font-family: "Microsoft Yahei", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}  